<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/_documentHead.ejs")  %>
  </head>
  <body>
    <header class="account_page_header">
      <h1><a href="/">Nexus</a> </h1>
    </header>
    <main class="account_page_main">

      <section class="account_heading_section">
        <h2 class="account_heading">My Account</h2>
        <form class="account_logout_form"  action="/account/logout" method="post">
          <button>Log Out</button>
        </form>
      </section>

      <section class="account_details_section">
        <h3>Account Details</h3>
        <div class="account_details_container">
          <p class="account_owner_name"><%= `${account.firstName} ${account.lastName}`  %></p>
          <div class="account_address_container">
            <p class="account_owner_address"><%= account.address %></p>
            <p class="account_owner_city"><%= account.city  %></p>
            <p class="account_owner_country"><%= account.country  %></p>
          </div>
          <p class="account_owner_phone">Phone: <%= account.phone  %></p>
        </div>
      </section>

      <section class="order_history_section">
        <h3>Order History</h3>

        <div class="orders_history_container_desktop">
          <div class="orders_field_row order_field_headings">
            <p>Order</p>
            <p>Date</p>
            <p>Payment Method</p>
            <p>Fulfillment Status</p>
            <p>Total</p>
          </div>
          <div>
            <% orders.forEach(order => { %>
              <div class="orders_field_row order_fields_details">
                <p><%= order.orderId  %></p>
                <p>
                  <%= new Date(order.createdAt).toLocaleDateString("en-Us", {
                  year: "numeric",
                  month: "long",
                  day: "numeric"
                }) %>
                </p>
                <p><%= `${order.paymentMethod}`.toUpperCase()  %></p>
                <p>Unfulfilled</p>
                <p>Rs <%= order.subTotal + order.shippingCost  %></p>
              </div>
           <% }) %>
          </div>
        </div>

        <div class="orders_history_container_mobile">
          <div class="order_detail_container">
            <div>
              <p>Order</p>
              <p>#AHT1234</p>
            </div>
            <div>
              <p>Date</p>
              <p>September 21,2020</p>
            </div>
            <div>
              <p>Payment Method</p>
              <p>Jazz-Cash</p>
            </div>
            <div>
              <p>Fulfillment Status</p>
              <p>Unfulfilled</p>
            </div>
            <div>
              <p>Total</p>
              <p>Rs 10,400</p>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>