<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/_documentHead.ejs")  %>
  </head>
  <body data-page="collection">
    <a class="button--skipToMain" href="#main">Skip to content</a>

    <div class="overLay" data-overlay></div>

    <div class="notification_center" data-notification-center></div>

    <!-- Start ------------------------------- Header ------------------------------------ -->
    <header><%- include('./partials/_header.ejs',{user}) %></header>

    <!-- Start ------------------------------------- Cart ---------------------------------- -->
    <%- include('./partials/_cart.ejs',{cart,shippingConfig}) %>

    <!-- Start ----------------------------------------- Main ---------------------------------------------- -->
    <main>
      <!-- Start----------------------------------------- Hero-Section -------------------------------------- -->
      <section class="collections_heading_wrapper">
        <h1>Shop All</h1>
      </section>
      <!-- Start----------------------------------------- Category-Navigation ---------------------------------- -->
      <section class="hero_category_nav_section">
        <nav class="hero_category_nav">
          <p>Jump to:</p>
          <ul>
            <li><a href="#bestSellers" aria-label="Jump to: Best Sellers">BEST SELLERS</a></li>
            <li><a href="#body" aria-label="Jump to: Body">BODY</a></li>
            <li><a href="#bodyWash" aria-label="Jump to: Body Wash">BODY WASH</a></li>
            <li><a href="#cleanser" aria-label="Jump to: CLeanser">CLEANSERS</a></li>
            <li><a href="#conditioner" aria-label="Jump to: Conditioners">CONDITIONERS</a></li>
            <li><a href="#face" aria-label="Jump to: Face">FACE</a></li>
            <li><a href="#hair" aria-label="Jump to: Hair">HAIR</a></li>
            <li><a href="#handSoap" aria-label="Jump to: Hand soap">HAND SOAP</a></li>
            <!-- <li><a href="" aria-label="Jump to: Moisturizers">MOISTURIZERS</a></li>
            <li><a href="" aria-label="Jump to: Shampoo">SHAMPOO</a></li>
            <li><a href="" aria-label="Jump to: Shave">SHAVE</a></li> -->
          </ul>
        </nav>
      </section>
      <!-- Start -------------------------------------------- Best-Seller-Section -------------------------------- -->
      <section id="bestSellers" class="category_section">
        <div class="category_section_wrapper bestSellers_section">
          <div class="category_section_header">
            <h2>
              <a href="/collections/best-sellers">Best Sellers</a>
            </h2>
            <p><span><%= bestSellers.length %></span> <span>PRODUCT<%= bestSellers.length > 1 ? "S": ""  %></span></p>
          </div>
          <div class="products_container">
            <ul class="products_list">
              <% bestSellers.forEach((product,index) => { %>
              <% if(index == bestSellers.length - 1) return  %>
              <li class="product_list_item">
                <%- include("./partials/_productCard.ejs",{product})  %>
              </li>
              <% }) %>
              <!-- Banner -->
              <li class="banner_card_wrapper">
                <%- include("./partials/_productBanner.ejs")  %>                
              </li>
              <!-- last Product -->
              <% const lastProduct = bestSellers[bestSellers.length-1] %>
              <li class="product_list_item">
                <%- include("./partials/_productCard.ejs",{product:lastProduct})  %>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <!-- Start ------------------------------------------------------ Body-Section ------------------------------------------------ -->
      <%- include("./partials/_collectionSection.ejs",{id:"body",name:"Body",banner:false,products: productCategoryMap.body})  %>            
      <!-- Start ------------------------------------------------------ Body-Wash-Section ------------------------------------------------ -->
      <%- include("./partials/_collectionSection.ejs",{id:"bodyWash",name:"Body Wash",banner: false, products: productCategoryMap.bodyWash})  %>
      <!-- Start ------------------------------------------------------ Cleansers-Section ------------------------------------------------ -->
      <%- include("./partials/_collectionSection.ejs",{id:"cleanser",name:"Cleansers",banner:false,products: productCategoryMap.cleanser})  %>
      <!-- Start ------------------------------------------------------ Conditioners-Section ------------------------------------------------ -->
      <%- include("./partials/_collectionSection.ejs",{id:"conditioner",name:"Conditioner",banner:false,products: productCategoryMap.conditioner})  %>
      <!-- Start ------------------------------------------------------ Face-Section ------------------------------------------------ -->
      <%- include("./partials/_collectionSection.ejs",{id:"face",name:"Face",banner:true,products: productCategoryMap.face})  %>      
       <!-- Start ------------------------------------------------------ Hand-Soap-Section ------------------------------------------------ -->
       <%- include("./partials/_collectionSection.ejs",{id:"handSoap",name:"Hand Soap",banner:false,products: productCategoryMap.handSoap})  %>            
      <!-- Start ------------------------------------------------------ Moisturizers-Section ------------------------------------------------ -->
      <%- include("./partials/_collectionSection.ejs",{id:"moisturizer",name:"Moisturizers",banner:false,products: productCategoryMap.moisturizer})  %>                  
       <!-- Start ------------------------------------------------------ rePhils ------------------------------------------------ -->
       <%- include("./partials/_collectionSection.ejs",{id:"rephil",name:"Rephils",banner:true,products: productCategoryMap.rephil})  %>            
    </main>
    <footer><%- include('./partials/_footer.ejs') %></footer>
  </body>
</html>
