<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" crossorigin src="/assets/main.js"></script>
    <link rel="stylesheet" crossorigin href="/assets/main.css" />
    <title>Phil's Refills</title>
  </head>
  <body data-page="collection">
    <a class="button--skipToMain" href="#main">Skip to content</a>

    <div class="overLay" data-overlay></div>

    <div class="notification_center" data-notification-center></div>

    <!-- Start ------------------------------- Header ------------------------------------ -->
    <header><%- include('./partials/_header.ejs',{user}) %></header>

    <!-- Start ------------------------------------- Cart ---------------------------------- -->
    <%- include('./partials/_cart.ejs',{cart,shippingConfig}) %>

    <!-- Start ----------------------------------------- Main ---------------------------------------------- -->
    <main>
      <!-- Start----------------------------------------- Hero-Section -------------------------------------- -->
      <section class="collections_heading_wrapper">
        <h1>Shop All</h1>
      </section>
      <!-- Start----------------------------------------- Category-Navigation ---------------------------------- -->
      <section class="hero_category_nav_section">
        <nav class="hero_category_nav">
          <p>Jump to:</p>
          <ul>
            <li><a href="#bestSellers" aria-label="Jump to: Best Sellers">BEST SELLERS</a></li>
            <li><a href="#body" aria-label="Jump to: Body">BODY</a></li>
            <li><a href="#bodyWash" aria-label="Jump to: Body Wash">BODY WASH</a></li>
            <li><a href="#cleansers" aria-label="Jump to: CLeansers">CLEANSERS</a></li>
            <li><a href="#conditioners" aria-label="Jump to: Conditioners">CONDITIONERS</a></li>
            <li><a href="#face" aria-label="Jump to: Face">FACE</a></li>
            <li><a href="#hair" aria-label="Jump to: Hair">HAIR</a></li>
            <li><a href="#handSoap" aria-label="Jump to: Hand soap">HAND SOAP</a></li>
            <!-- <li><a href="" aria-label="Jump to: Moisturizers">MOISTURIZERS</a></li>
            <li><a href="" aria-label="Jump to: Shampoo">SHAMPOO</a></li>
            <li><a href="" aria-label="Jump to: Shave">SHAVE</a></li> -->
          </ul>
        </nav>
      </section>
      <!-- Start -------------------------------------------- Best-Seller-Section -------------------------------- -->
      <section id="bestSellers" class="category_section">
        <div class="category_section_wrapper bestSellers_section">
          <div class="category_section_header">
            <h2>
              <a href="/collections/best-sellers">Best Sellers</a>
            </h2>
            <p><span><%= bestSellers.length %></span> <span>PRODUCTS</span></p>
          </div>
          <div class="products_container">
            <ul class="products_list">
              <% bestSellers.forEach((product,index) => { %>
              <% if(index == bestSellers.length - 1) return  %>
              <li class="product_list_item">
                <div class="product_card">
                  <a href="/products/<%= product.slug %>">
                    <span class="visually-hidden">product.title</span>
                  </a>
                  <div class="product_card_info">
                    <p><%= product.title %></p>
                    <p>Rs <%= product.price %></p>
                  </div>
                  <div class="product_card_image">
                    <img src="<%= product.images[0] %>" alt="" width="511" height="341" />
                  </div>
                  <div class="product_addToCart_container">
                    <form action="/cart/add" class="addToCart_form_1" data-add-to-cart-form>
                      <input type="hidden" name="productId" class="productId" value="<%= product._id %>" />
                      <div class="addTOCart_action">
                        <button aria-label="Add to bag The EveryThing Bar" type="button" class="addTOCart_action_btn" data-add-to-cart-btn>
                          <span class="action_btn_text">Add to bag</span>
                          <span class="plus_icon_btn">
                            <img src="/assets/plus-solid.svg" alt="" aria-hidden="true" width="20" height="20" />
                          </span>
                        </button>
                        <span class="plus_icon">
                          <img src="/assets/plus-solid.svg" alt="" aria-hidden="true" width="20" height="20" />
                        </span>
                      </div>
                    </form>
                  </div>
                </div>
              </li>
              <% }) %>
              <!-- Banner -->
              <li class="banner_card_wrapper">
                <div class="banner_card">
                  <div class="banner_image">
                    <img src="/assets/Phils_2023_Launch_ShavingCream_Product_HERO-copy.png" alt="" />
                  </div>
                  <div class="banner_detail">
                    <div class="banner_title">
                      <h3>
                        <span>Infinitely</span>
                        <span>Recyclable</span>
                      </h3>
                    </div>
                    <div>
                      <a href="/products/shaving-cream" class="button--productBanner">
                        <span>Shop Shaving Cream</span>
                        <svg class="icon icon--arrow-right" width="23" height="15" viewBox="0 0 23 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M4.86523 7.5L19.7197 7.5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                          <path d="M16.1836 3.4165L19.8972 7.49984L16.1836 11.5832" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </li>
              <!-- last Product -->
              <% const lastProduct = bestSellers[bestSellers.length-1] %>
              <li class="product_list_item">
                <div class="product_card">
                  <a href="/products/<%= lastProduct.slug %>">
                    <span class="visually-hidden">lastProduct.title</span>
                  </a>
                  <div class="product_card_info">
                    <p><%= lastProduct.title %></p>
                    <p>Rs <%= lastProduct.price %></p>
                  </div>
                  <div class="product_card_image">
                    <img src="<%= lastProduct.images[0] %>" alt="" width="511" height="341" />
                  </div>
                  <div class="product_addToCart_container">
                    <form action="/cart/add" class="addToCart_form_1" data-add-to-cart-form>
                      <input type="hidden" name="productId" class="productId" value="<%= lastProduct._id %>" />
                      <div class="addTOCart_action">
                        <button aria-label="Add to bag The EveryThing Bar" type="button" class="addTOCart_action_btn" data-add-to-cart-btn>
                          <span class="action_btn_text">Add to bag</span>
                          <span class="plus_icon_btn">
                            <img src="/assets/plus-solid.svg" alt="" aria-hidden="true" width="20" height="20" />
                          </span>
                        </button>
                        <span class="plus_icon">
                          <img src="/assets/plus-solid.svg" alt="" aria-hidden="true" width="20" height="20" />
                        </span>
                      </div>
                    </form>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <!-- Start ------------------------------------------------------ Body-Section ------------------------------------------------ -->
      <section class="category_section" id="body">
        <div class="category_section_wrapper">
          <div class="category_section_header">
            <h2>
              <a href="/collections/body">Body</a>
            </h2>
            <p><span><%= body.length %></span> <span>PRODUCTS</span></p>
          </div>
          <div class="products_container">
            <ul>
              <% body.forEach(product =>{ %>
              <li class="product_list_item">
                <div class="product_card">
                  <a href="/products/<%= product.slug %>">
                    <span class="visually-hidden">product.title</span>
                  </a>
                  <div class="product_card_info">
                    <p><%= product.title %></p>
                    <p>Rs <%= product.price %></p>
                  </div>
                  <div class="product_card_image">
                    <img src="<%= product.images[0] %>" alt="" width="511" height="341" />
                  </div>
                  <div class="product_addToCart_container">
                    <form action="/cart/add" class="addToCart_form_1" data-add-to-cart-form>
                      <input type="hidden" name="productId" class="productId" value="<%= product._id %>" />
                      <div class="addTOCart_action">
                        <button aria-label="Add to bag The EveryThing Bar" type="button" class="addTOCart_action_btn" data-add-to-cart-btn>
                          <span class="action_btn_text">Add to bag</span>
                          <span class="plus_icon_btn">
                            <img src="/assets/plus-solid.svg" alt="" aria-hidden="true" width="20" height="20" />
                          </span>
                        </button>
                        <span class="plus_icon">
                          <img src="/assets/plus-solid.svg" alt="" aria-hidden="true" width="20" height="20" />
                        </span>
                      </div>
                    </form>
                  </div>
                </div>
              </li>
              <% }) %>
            </ul>
          </div>
        </div>
      </section>
      <!-- Start ------------------------------------------------------ Cleansers-Section ------------------------------------------------ -->
      <section class="category_section" id="cleansers">
        <div class="category_section_wrapper">
          <div class="category_section_header">
            <h2>
              <a href="/collections/cleansers">Cleansers</a>
            </h2>
            <p><span><%= cleansers.length %></span> <span>PRODUCTS</span></p>
          </div>
          <div class="products_container">
            <ul>
              <% cleansers.forEach(product =>{ %>
              <li class="product_list_item">
                < <div class="product_card">
                  <a href="/products/<%= product.slug %>">
                    <span class="visually-hidden">product.title</span>
                  </a>
                  <div class="product_card_info">
                    <p><%= product.title %></p>
                    <p>Rs <%= product.price %></p>
                  </div>
                  <div class="product_card_image">
                    <img src="<%= product.images[0] %>" alt="" width="511" height="341" />
                  </div>
                  <div class="product_addToCart_container">
                    <form action="/cart/add" class="addToCart_form_1" data-add-to-cart-form>
                      <input type="hidden" name="productId" class="productId" value="<%= product._id %>" />
                      <div class="addTOCart_action">
                        <button aria-label="Add to bag The EveryThing Bar" type="button" class="addTOCart_action_btn" data-add-to-cart-btn>
                          <span class="action_btn_text">Add to bag</span>
                          <span class="plus_icon_btn">
                            <img src="/assets/plus-solid.svg" alt="" aria-hidden="true" width="20" height="20" />
                          </span>
                        </button>
                        <span class="plus_icon">
                          <img src="/assets/plus-solid.svg" alt="" aria-hidden="true" width="20" height="20" />
                        </span>
                      </div>
                    </form>
                  </div>
                </div>
              </li>
              <% }) %>
            </ul>
          </div>
        </div>
      </section>
      <!-- Start ------------------------------------------------------ Conditioners-Section ------------------------------------------------ -->
      <section class="category_section" id="conditioners">
        <div class="category_section_wrapper">
          <div class="category_section_header">
            <h2>
              <a href="/collections/conditioner">Conditioner</a>
            </h2>
            <p><span><%= conditioners.length %></span> <span>PRODUCTS</span></p>
          </div>
          <div class="products_container">
            <ul>
              <% conditioners.forEach(product =>{ %>
              <li class="product_list_item">
                <div class="product_card">
                  <a href="/products/<%= product.slug %>">
                    <span class="visually-hidden">product.title</span>
                  </a>
                  <div class="product_card_info">
                    <p><%= product.title %></p>
                    <p>Rs <%= product.price %></p>
                  </div>
                  <div class="product_card_image">
                    <img src="<%= product.images[0] %>" alt="" width="511" height="341" />
                  </div>
                  <div class="product_addToCart_container">
                    <form action="/cart/add" class="addToCart_form_1" data-add-to-cart-form>
                      <input type="hidden" name="productId" class="productId" value="<%= product._id %>" />
                      <div class="addTOCart_action">
                        <button aria-label="Add to bag The EveryThing Bar" type="button" class="addTOCart_action_btn" data-add-to-cart-btn>
                          <span class="action_btn_text">Add to bag</span>
                          <span class="plus_icon_btn">
                            <img src="/assets/plus-solid.svg" alt="" aria-hidden="true" width="20" height="20" />
                          </span>
                        </button>
                        <span class="plus_icon">
                          <img src="/assets/plus-solid.svg" alt="" aria-hidden="true" width="20" height="20" />
                        </span>
                      </div>
                    </form>
                  </div>
                </div>
              </li>
              <% }) %>
            </ul>
          </div>
        </div>
      </section>
      <!-- Start ------------------------------------------------------ Face-Section ------------------------------------------------ -->
      <section class="category_section" id="face">
        <div class="category_section_wrapper">
          <div class="category_section_header">
            <h2>
              <a href="/collections/face">Face</a>
            </h2>
            <p><span><%= face.length %></span> <span>PRODUCTS</span></p>
          </div>
          <div class="products_container">
            <ul>
              <% face.forEach(product =>{ %>
              <li class="product_list_item">
                <div class="product_card">
                  <a href="/products/<%= product.slug %>">
                    <span class="visually-hidden">product.title</span>
                  </a>
                  <div class="product_card_info">
                    <p><%= product.title %></p>
                    <p>Rs <%= product.price %></p>
                  </div>
                  <div class="product_card_image">
                    <img src="<%= product.images[0] %>" alt="" width="511" height="341" />
                  </div>
                  <div class="product_addToCart_container">
                    <form action="/cart/add" class="addToCart_form_1" data-add-to-cart-form>
                      <input type="hidden" name="productId" class="productId" value="<%= product._id %>" />
                      <div class="addTOCart_action">
                        <button aria-label="Add to bag The EveryThing Bar" type="button" class="addTOCart_action_btn" data-add-to-cart-btn>
                          <span class="action_btn_text">Add to bag</span>
                          <span class="plus_icon_btn">
                            <img src="/assets/plus-solid.svg" alt="" aria-hidden="true" width="20" height="20" />
                          </span>
                        </button>
                        <span class="plus_icon">
                          <img src="/assets/plus-solid.svg" alt="" aria-hidden="true" width="20" height="20" />
                        </span>
                      </div>
                    </form>
                  </div>
                </div>
              </li>
              <% }) %>
              <!-- Banner -->
              <li class="banner_card_wrapper">
                <div class="banner_card">
                  <div class="banner_image">
                    <img src="/assets/Phils_2023_Launch_ShavingCream_Product_HERO-copy.png" alt="" />
                  </div>
                  <div class="banner_detail">
                    <div class="banner_title">
                      <h3>
                        <span>Infinitely</span>
                        <span>Recyclable</span>
                      </h3>
                    </div>
                    <div>
                      <a href="/products/shaving-cream" class="button--productBanner">
                        <span>Shop Shaving Cream</span>
                        <svg class="icon icon--arrow-right" width="23" height="15" viewBox="0 0 23 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M4.86523 7.5L19.7197 7.5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                          <path d="M16.1836 3.4165L19.8972 7.49984L16.1836 11.5832" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>
       <!-- Start ------------------------------------------------------ rePhils ------------------------------------------------ -->
       <section class="category_section" id="rePhils">
        <div class="category_section_wrapper">
          <div class="category_section_header">
            <h2>
              <a href="/collections/rephils">rePhils</a>
            </h2>
            <p><span><%= rePhils.length %></span> <span>PRODUCTS</span></p>
          </div>
          <div class="products_container">
            <ul>
              <% rePhils.forEach(product =>{ %>
              <li class="product_list_item">
                <div class="product_card">
                  <a href="/products/<%= product.slug %>">
                    <span class="visually-hidden">product.title</span>
                  </a>
                  <div class="product_card_info">
                    <p><%= product.title %></p>
                    <p>Rs <%= product.price %></p>
                  </div>
                  <div class="product_card_image">
                    <img src="<%= product.images[0] %>" alt="" width="511" height="341" />
                  </div>
                  <div class="product_addToCart_container">
                    <form action="/cart/add" class="addToCart_form_1" data-add-to-cart-form>
                      <input type="hidden" name="productId" class="productId" value="<%= product._id %>" />
                      <div class="addTOCart_action">
                        <button aria-label="Add to bag The EveryThing Bar" type="button" class="addTOCart_action_btn" data-add-to-cart-btn>
                          <span class="action_btn_text">Add to bag</span>
                          <span class="plus_icon_btn">
                            <img src="/assets/plus-solid.svg" alt="" aria-hidden="true" width="20" height="20" />
                          </span>
                        </button>
                        <span class="plus_icon">
                          <img src="/assets/plus-solid.svg" alt="" aria-hidden="true" width="20" height="20" />
                        </span>
                      </div>
                    </form>
                  </div>
                </div>
              </li>
              <% }) %>
            </ul>
          </div>
        </div>
      </section>
    </main>
    <footer><%- include('./partials/_footer.ejs') %></footer>
  </body>
</html>
