<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" crossorigin src="/assets/main.js"></script>
    <link rel="stylesheet" crossorigin href="/assets/main.css" />
    <title>Phil's Refills</title>
  </head>
  <body data-page="checkout">
    <a class="button--skipToMain" href="#main">Skip to content</a>

    <div class="overLay" data-overlay></div>

    <div class="notification_center" data-notification-center></div>
    <!-- Start ---------------------------- Header --------------------------------------- -->
    <header>
      <nav class="checkout_nav">
        <a href="/" class="phils_heading_link"> Phil's </a>
        <a href="" class="checkout_cart_link">
          <span>
            <img src="/assets/bag-shopping-solid.svg" alt="" />
          </span>
        </a>
      </nav>
    </header>

    <!--Start --------------------------------- Main ------------------------------------ -->

    <main class="checkout_page_main">
      <div class="checkout_section_wrapper">
        <section class="checkout_order_summary_section">
          <div class="checkout_order_summary_container" data-order-summary-accordion>
            <div class="accordion_item" data-accordion-item>
              <button class="order_summary_button" aria-expanded="false" id="tab-order-summary" aria-controls="panel-order-summary" data-accordion-button>
                <span class="order_summary_button_text_wrapper">
                  <span class="summary_text">
                    <span data-checkout-summary-button-text>Show order Summary</span>
                    <span class="arrow_down_svg_wrapper">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="m6 9 6 6 6-6" />
                      </svg>
                    </span>
                  </span>
                  <span class="order_total_price"> Rs <%= subTotal  %> </span>
                </span>
              </button>
              <div class="order_summary_detail_container" data-accordion-body>
                <div class="checkout_order_summary_wrapper">
                  <section class="checkout_items_list_container">
                    <ul class="checkout_items_list">
                      <% cartItems.forEach(cartItem => { %>
                        <li class="checkout_cart_item">
                          <div class="checkout_item_description">
                            <div class="checkout_cartitem_image_container">
                              <img src="<%= cartItem.product.images[0]  %>" alt="" />
                              <span class="checkout_item_quantity"><%= cartItem.quantity %></span>
                            </div>
                            <p><%= cartItem.product.title  %></p>
                          </div>
                          <p class="checkout_item_price">Rs <%= cartItem.product.price  %></p>
                        </li>
                      <% }) %>
                    </ul>
                  </section>

                  <section class="checkout_order_total_section">
                    <div>
                      <p>Subtotal</p>
                      <p>Rs <%= subTotal %></p>
                    </div>
                    <div>
                      <p>Shipping</p>
                      <p><%= (shippingCost && shippingCost > 0) ? "Rs " + shippingCost : "Free"%></p>
                    </div>
                    <div>
                      <p>
                        <strong>Total</strong>
                      </p>
                      <p>
                        <abbr>PKR</abbr>
                        <strong>Rs <%= subTotal + shippingCost %></strong>
                      </p>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="checkout_form_section">
          <div class="checkout_form_container">
            <form action="" data-checkout-form>
              <section class="checkout_form_contact_section">
                <h2 class="checkout_form_section_heading">Contact</h2>
                <div class="form_field">
                  <div class="checkout_form_field_container">
                    <input type="text" id="email" name="email" placeholder="Email" required autocomplete="email" />
                    <label for="email" class="form_field_label" aria-hidden="false">Email</label>
                  </div>
                  <div class="error_message">
                    <span><img src="/assets/errorIcon.svg" width="12" height="12" alt="" /></span>
                    <span>Enter a valid email</span>
                  </div>
                </div>
                <div class="form_subscribe_news_container">
                  <input type="checkbox" id="subscribeNews" name="subscribe" value="news" data-input-subscribe-news />
                  <label for="subscribeNews" class="label_subscirbe_news_offers">Email me with news and offers</label>
                </div>
              </section>

              <section class="checkout_form_delivery_section">
                <h2 class="checkout_form_section_heading">Delivery</h2>
                <div class="checkout_form_field_wrapper">
                  <div class="checkout_form_name_field_wrapper">
                    <div class="form_field">
                      <div class="checkout_form_field_container">
                        <input type="text" id="firstName" name="firstName" placeholder="First Name" minlength="2" />
                        <label for="firstName" aria-hidden="false">First Name</label>
                      </div>
                      <div class="error_message">
                        <span><img src="/assets/errorIcon.svg" width="12" height="12" alt="" /></span>
                        <span>Enter a first name</span>
                      </div>
                    </div>

                    <div class="form_field">
                      <div class="checkout_form_field_container">
                        <input type="text" id="lastName" name="lastName" placeholder="Last Name" minlength="2" required />
                        <label for="lasNname">Last Name</label>
                      </div>
                      <div class="error_message">
                        <span><img src="/assets/errorIcon.svg" width="12" height="12" alt="" /></span>
                        <span>Enter a last name</span>
                      </div>
                    </div>
                  </div>

                  <div class="form_field">
                    <div class="checkout_form_field_container">
                      <input type="text" name="address" placeholder="Address" id="address" minlength="2" required />
                      <label for="address">Address</label>
                    </div>
                    <div class="error_message">
                      <span><img src="/assets/errorIcon.svg" width="12" height="12" alt="" /></span>
                      <span>Enter a address</span>
                    </div>
                  </div>

                  <div class="form_field">
                    <div class="checkout_form_field_container">
                      <input type="text" id="appartment" placeholder="Apartment, suite, etc (optional)" name="appartment" minlength="2" />
                      <label for="appartment">Apartment, suite, etc (optional)</label>
                    </div>
                    <div class="error_message">
                      <span><img src="/assets/errorIcon.svg" width="12" height="12" alt="" /></span>
                      <span>Enter a Apartment or suite</span>
                    </div>
                  </div>

                  <div class="checkout_form_address_wrapper">
                    <div class="form_field">
                      <div class="checkout_form_field_container">
                        <input type="text" name="city" id="city" required placeholder="City" />
                        <label for="city">City</label>
                      </div>
                      <div class="error_message">
                        <span><img src="/assets/errorIcon.svg" width="12" height="12" alt="" /></span>
                        <span>Enter a city</span>
                      </div>
                    </div>

                    <div class="form_field">
                      <div class="checkout_form_field_container">
                        <input type="text" required name="province" id="province" placeholder="Province / State" />
                        <label for="province">Province / State</label>
                      </div>
                      <div class="error_message">
                        <span><img src="/assets/errorIcon.svg" width="12" height="12" alt="" /></span>
                        <span>Enter a state / province</span>
                      </div>
                    </div>

                    <div class="form_field">
                      <div class="checkout_form_field_container">
                        <input type="text" required name="zipcode" placeholder="ZIP code" id="zipcode" />
                        <label for="zipcode">ZIP code (optional)</label>
                      </div>
                      <div class="error_message">
                        <span><img src="/assets/errorIcon.svg" width="12" height="12" alt="" /></span>
                        <span>Enter a ZIP / postal code</span>
                      </div>
                    </div>
                  </div>

                  <div class="form_field">
                    <div class="checkout_form_field_container">
                      <input type="number" required name="phone" placeholder="Phone" id="phone" />
                      <label for="phone">Phone</label>
                    </div>
                    <div class="error_message">
                      <span><img src="/assets/errorIcon.svg" width="12" height="12" alt="" /></span>
                      <span>Enter a valid phone number</span>
                    </div>
                  </div>
                </div>
              </section>

              <section class="checkout_form_payment_section">
                <h3 class="checkout_form_section_heading">Payment</h3>
                <p>All transactions are secured and encrypted.</p>
                <div class="accordion accordion_payment" id="accordionExample" data-payment-accordion>
                  <div class="accordion_item" data-accordion-item>
                    <button class="accordion_button open" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" data-accordion-button>
                      <label for="payment-cod">
                        <input type="radio" name="payment" id="payment-cod" value="cod" checked />
                        <span>Cash on Delivery (COD)</span>
                      </label>
                    </button>
                    <div id="collapseOne" class="accordion_body open" data-bs-parent="#accordionExample" data-accordion-body>
                      <div class="accordion_body_text_wrapper">
                        <p>Please note that COD Limit is 50,000 for all over Pakistan and you have to transfer remaining amount (if any) before dispatch.</p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion_item" data-accordion-item>
                    <button class="accordion_button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" data-accordion-button>
                      <label for="payment-bank">
                        <input type="radio" name="payment" id="payment-bank" value="bank" />
                        <span>Bank Deposit</span>
                      </label>
                    </button>
                    <div id="collapseTwo" class="accordion_body collapse" data-bs-parent="#accordionExample" data-accordion-body>
                      <div class="accordion_body_text_wrapper">
                        <ul>
                          <li>Bank Name: Example Bank</li>
                          <li>Branch Code: 000</li>
                          <li>Title: Phil</li>
                          <li>A/C #: 02010343043</li>
                          <li>IBAN #: PK00000000000000</li>
                          <li>Please deposit in this account and WhatsApp or message the slip on 0300 000 000. We will dispatch the product within 24 Hours through TCS</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="accordion_item" data-accordion-item>
                    <button class="accordion_button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" data-accordion-button>
                      <label for="payment-jazzCash">
                        <input type="radio" name="payment" id="payment-jazzCash" value="jazz-cash" />
                        <span>Jazz Cash</span>
                      </label>
                    </button>
                    <div id="collapseThree" class="accordion_body collapse" data-bs-parent="#accordionExample" data-accordion-body>
                      <div class="accordion_body_text_wrapper">
                        <ul>
                          <li>Jazz Cash Details.</li>
                          <li>Muhammad</li>
                          <li>0300000000</li>
                          <li>Please deposit in this account and whatsapp the slip or message on 030000000. We will dispatch the product within 24 Hours through TCS</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

              <!-- order summary mobile -->
              <section class="checkout_order_summary_section checkout_order_summary_section_mobile">
                <h2 class="checkout_form_section_heading">Order summary(4)</h2>
                <div class="checkout_order_total_section">
                  <div>
                    <p>Subtotal</p>
                    <p>Rs 5,500.00</p>
                  </div>
                  <div>
                    <p>Shipping</p>
                    <p>Rs 300.00</p>
                  </div>
                  <div>
                    <p>
                      <strong>Total</strong>
                    </p>
                    <p>
                      <abbr>PKR</abbr>
                      <strong>Rs 5,800.00</strong>
                    </p>
                  </div>
                </div>
              </section>

              <section class="checkout_complete_order_section">
                <button type="submit" class="complete_order_button" data-complete-order-button>Complete order</button>
              </section>
            </form>
          </div>

          <section class="checkout_policies_section">
            <div class="checkout_page_policies_container">
              <ul class="checkout_page_policies_list">
                <li><a href="">Refund Policy</a></li>
                <li><a href="">Shipping Policy</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Terms of service</a></li>
              </ul>
            </div>
          </section>
        </section>
      </div>
    </main>
  </body>
</html>
