<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" crossorigin src="/assets/main.js"></script>
    <link rel="stylesheet" crossorigin href="/assets/main.css" />
    <title>Phil's Refills</title>
  </head>
  <body data-page="collection">
    <a class="button--skipToMain" href="#main">Skip to content</a>

    <div class="overLay" data-overLay></div>

    <div class="notification_center" data-notificationCenter></div>

    <!-- Start ------------------------------- Header ------------------------------------ -->
    <header><%- include('./partials/_header.ejs',{user}) %></header>

    <!-- Start ------------------------------------- Cart ---------------------------------- -->
    <%- include('./partials/_cart.ejs',{cartItems}) %>

    <!-- Start ----------------------------------------- Main ---------------------------------------------- -->
    <main>
      <div class="collections_heading_wrapper">
        <h1><%= collectionName %></h1>
      </div>
      <section id="" class="collection_products_section">
        <div class="category_section_wrapper">
          <div class="products_container">
            <ul class="products_list">
              <% products.forEach(product => { %>
              <li class="product_list_item">
                <div class="product_card">
                  <a href="/products/<%= product.slug %>">
                    <span class="visually-hidden">product.title</span>
                  </a>
                  <div class="product_card_info">
                    <p><%= product.title %></p>
                    <p><%= product.price %></p>
                  </div>
                  <div class="product_card_image">
                    <img src="<%= product.images[0] %>" alt="" width="511" height="341" />
                  </div>
                  <div class="product_addToCart_container">
                    <form action="/cart/add" class="addToCart_form_1" data-add-to-cart-form>
                      <input type="hidden" name="productId" class="productId" value="<%= product._id %>" />
                      <div class="addTOCart_action">
                        <button aria-label="Add to bag The EveryThing Bar" type="button" class="addTOCart_action_btn" data-add-to-cart-btn>
                          <span class="action_btn_text">Add to bag</span>
                          <span class="plus_icon_btn">
                            <img src="/assets/plus-solid.svg" alt="" aria-hidden="true" width="20" height="20" />
                          </span>
                        </button>
                        <span class="plus_icon">
                          <img src="/assets/plus-solid.svg" alt="" aria-hidden="true" width="20" height="20" />
                        </span>
                      </div>
                    </form>
                  </div>
                </div>
              </li>
              <% }) %>
            </ul>
          </div>
        </div>
      </section>
    </main>
    <!-- Start ----------------------------------------- Footer ---------------------------------------------- -->
    <footer><%- include('./partials/_footer.ejs') %></footer>
  </body>
</html>
