<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/_documentHead.ejs")  %>
  </head>
  <body data-page="collection">
    <a class="button--skipToMain" href="#main">Skip to content</a>

    <div class="overLay" data-overlay></div>

    <div class="notification_center" data-notification-center></div>

    <!-- Start ------------------------------- Header ------------------------------------ -->
    <header><%- include('./partials/_header.ejs',{user}) %></header>

    <!-- Start ------------------------------------- Cart ---------------------------------- -->
    <%- include('./partials/_cart.ejs',{cart,shippingConfig}) %>

    <!-- Start ----------------------------------------- Main ---------------------------------------------- -->
    <main>
      <div class="collections_heading_wrapper">
        <h1><%= collectionName %></h1>
      </div>
      <section id="" class="collection_products_section">
        <div class="category_section_wrapper">
          <div class="products_container">
            <ul class="products_list">
              <% products.forEach(product => { %>
              <li class="product_list_item">
                <%- include("./partials/_productCard.ejs",{product})  %>
              </li>
              <% }) %>
            </ul>
          </div>
        </div>
      </section>
    </main>
    <!-- Start ----------------------------------------- Footer ---------------------------------------------- -->
    <footer><%- include('./partials/_footer.ejs') %></footer>
  </body>
</html>
