<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/_documentHead.ejs")  %>
  </head>
  <body data-page="home">

    <a class="button--skipToMain" href="#main">Skip to content</a>

    <div class="overLay" data-overlay></div>

    <div class="notification_center" data-notification-center></div>

    <!-- Start ------------------------------- Header ------------------------------------- -->
    <header><%- include('./partials/_header.ejs',{user}) %></header>

    <!-- Start ------------------------------------- Cart ---------------------------------- -->
     <%- include('./partials/_cart.ejs',{cart,shippingConfig})%>
    <main id="main">
      <!-- Start --------------------------------------- Hero-Section ----------------------------------------- -->
      <section class="hero">
        <div class="hero_mainDetail">
          <h1>Ditch Plastic</h1>
          <p>Supercharged performance personal care on a mission to slash your plastic footprint. Low impact packaging, high impact results.</p>
          <a href="/collections" class="button--primary">
            <span>Shop All</span>
            <svg class="icon icon--arrow-right" width="23" height="15" viewBox="0 0 23 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.86523 7.5L19.7197 7.5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M16.1836 3.4165L19.8972 7.49984L16.1836 11.5832" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </a>
        </div>
        <div class="hero_scrollImage_container">
          <div class="hero_image_scroller" data-imageOuterScroller>
            <div class="hero_image_inner_scroller" data-imageInnerScroller>
              <span><img src="/assets/ShaveThePlanetShaveBar.webp" alt="" /></span>
              <span><img src="/assets/web-25-Pattern_r1_soap-gif-2_2560x.webp" alt="" /></span>
              <span><img src="/assets/shavingCream.webp" alt="" /></span>
              <span><img src="/assets/philsWeb3gif.webp" alt="" /></span>
              <span><img src="/assets/DailyFacialCleanser_Achilles_0659_1296x.webp" alt="" /></span>
            </div>
          </div>
        </div>
      </section>
      <!-- Squalane Product Sections -->
      <section class="squalane_capsules_section">
        <div class="squalane_container">
          <div class="squalane_image_container" data-squalane-image-container>
            <span>
              <img src="/assets/plantSqualane.webp" alt="">
            </span>
          </div>
          <div class="squalane_description_container">
            <p class="deal_top_line">The Real Deal</p>
            <h2>Wash. <br> Reuse. <br> Rephil.</h2>
            <p class="squalane_description">Our proprietary RePhil Jars utilize kitchenware technology to make them dishwasher safe, top rack, so you can use them again and again. Think kitchenware for your skincare.</p>
            <a href="src/pages/collections.html" class="button--primary">
              <span>Shop Squalane</span>
              <svg class="icon icon--arrow-right" width="23" height="15" viewBox="0 0 23 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.86523 7.5L19.7197 7.5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M16.1836 3.4165L19.8972 7.49984L16.1836 11.5832" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </a>
          </div>
        </div>
      </section>
      <!-- ------------------------- Featured-products ---------------------------------- -->
      <section id="featuredProducts" class="category_section featured_products_section">
        <div class="category_section_wrapper">
          <div class="">
            <h2 class="featured_products_heading">
              <a href="/collections/best-sellers">Featured Products</a>
            </h2>
          </div>
          <div class="products_container">
            <ul class="products_list">
              <% featuredProducts.forEach((product ,index)=> { %>
                <% if(index == featuredProducts.length - 1) return  %>
              <li class="product_list_item">
                <%- include("./partials/_productCard.ejs",{product})  %>
              </li>
              <% }) %>
              <!-- Banner -->
              <li class="banner_card_wrapper">
                <%- include("./partials/_productBanner.ejs")  %>                
              </li>
              <!-- Last Product -->
              <% const lastProduct = featuredProducts[featuredProducts.length-1] %>
              <li class="product_list_item">
                <%- include("./partials/_productCard.ejs",{product:lastProduct})  %>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <!-- Clinical Products Section -->
      <section class="clinical_products_section">
        <div class="clinical_products_container">
          <div class="clinical_products_description_container">
            <h2>Clinical & Ethical Products</h2>
            <p class="clinical_product_description">
              Our products are third-party clinically tested. We are proud SEDEX member's and each of our products are ethically manufactured in third-party audited facilities with full transparency.            
            </p>
            <a href="src/pages/collections.html" class="button--primary">
              <span>Shop moisturizer</span>
              <svg class="icon icon--arrow-right" width="23" height="15" viewBox="0 0 23 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.86523 7.5L19.7197 7.5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M16.1836 3.4165L19.8972 7.49984L16.1836 11.5832" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </a>
          </div>
          <div class="clinical_product_image_container" data-clinical-product-image-container>
            <span>
              <img src="/assets/clinicalProducts.jpg" alt="1 product = 1 pound of plastic removed from environment">
            </span>
          </div>
        </div>
      </section>
      <!-- Scrolling-Text ----------------------------------- -->
      <section class="scrolling_text_section home_scrolling_text_section">
        <div class="scrolling_text_wrapper">
          <div class="scrolling_text_contents">
            <div class="scrolling_text_item">
              <span class="scrolling_text_item_image">
                <img src="/assets/homeScrollingImage1.png" alt="" />
              </span>
              <p class="scrolling_text_item_description">1 product = 1 pound of ocean bound plastic removed from the environment</p>
            </div>
            <div class="scrolling_text_item">
              <span class="scrolling_text_item_image">
                <img src="/assets/homeScrollingImage2.png" alt="" />
              </span>
              <p class="scrolling_text_item_description">1 product = 1 pound of ocean bound plastic removed from the environment</p>
            </div>
          </div>
          <div class="scrolling_text_contents">
            <div class="scrolling_text_item">
              <span class="scrolling_text_item_image">
                <img src="/assets/homeScrollingImage1.png" alt="" />
              </span>
              <p class="scrolling_text_item_description">1 product = 1 pound of ocean bound plastic removed from the environment</p>
            </div>
            <div class="scrolling_text_item">
              <span class="scrolling_text_item_image">
                <img src="/assets/homeScrollingImage2.png" alt="" />
              </span>
              <p class="scrolling_text_item_description">1 product = 1 pound of ocean bound plastic removed from the environment</p>
            </div>
          </div>
        </div>
      </section>
      <!-- Instagram  section -->
       <section class="instagram_section">
        <div class="instagram_container">
          <span class="instagram_logo_container">
            <img src="/assets/instagram.svg" width="34" height="34" alt="Instagram logo">
          </span>
          <p class="instagram_hashtag">#feelrephiled</p>
          <a href="src/pages/collections.html" class="button--primary">
            <span>Follow Us On Instagram</span>
            <svg class="icon icon--arrow-right" width="23" height="15" viewBox="0 0 23 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.86523 7.5L19.7197 7.5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M16.1836 3.4165L19.8972 7.49984L16.1836 11.5832" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </a>
        </div>
       </section>

       <section>
        <div class="findUs_message_container">
          <p class="findUs_message">Find Us Exclusively Online at Zaply.co</p>
        </div>
       </section>
    </main>

    <!-- START -------------------------------------- Footer ---------------------------------------------------- -->

    <footer><%- include('./partials/_footer.ejs') %></footer>
  </body>
</html>
