<div class="product_card">
  <a href="/products/<%= product.slug %>">
    <span class="visually-hidden"><%= product.title  %></span>
  </a>
  <div class="product_card_info">
    <p><%= product.title %></p>
    <p><%= product.price %></p>
  </div>
  <div class="product_card_image">
    <img src="<%= product.images[0] %>" alt="" width="511" height="341" />
  </div>
  <div class="product_addToCart_container">
    <form action="/cart/add" class="addToCart_form_1" data-add-to-cart-form>
      <input type="hidden" name="productId" class="productId" value="<%= product._id %>" />
      <div class="addTOCart_action">
        <button aria-label="Add to bag The EveryThing Bar" type="button" class="addTOCart_action_btn async_button" data-add-to-cart-btn>
          <div class="loading_animation_wrapper">
            <div class="loader"></div> 
          </div>
          <span class="action_btn_text">Add to bag</span>
          <span class="plus_icon_btn">
            <img src="/assets/plus-solid.svg" alt="" aria-hidden="true" width="20" height="20" />
          </span>
        </button>
        <span class="plus_icon">
          <img src="/assets/plus-solid.svg" alt="" aria-hidden="true" width="20" height="20" />
        </span>
      </div>
    </form>
  </div>
</div>